altgraph==0.17.4
ffmpeg-python==0.2.0
future==1.0.0
importlib_metadata==7.1.0
macholib==1.16.3
packaging==24.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
tqdm==4.66.2
zipp==3.18.1
